@charset "ISO-8859-1";

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

.bananaNav {
	width: 100vw;
}

.bananaMain {
	background-image: url("/BananaBacana/img/banana.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.bananaNav ul {
	display: flex;
	flex-direction: row;
	gap: 40px;
	width: 100%;
	justify-content: center;
	padding: 20px;
	background-color: #F0725C;
	color: white;
	font-weight: bold;
}

.bananaForm {
	display: flex;
	flex-direction: column;
	padding: 45px;
	width: 800px;
	height: 400px;
	background-color: white;
	margin: 0 auto;
	margin-top: 4px;
	border-radius: 15px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	width: 800px;
	align-items: center;
	align-self: center;
}

.bananaForm input {
	border-radius: 8px;
	border: 1px solid gray;
	width: 80px;
	padding: 10px;
	width: 400px;
	background-color: #F1AE2B;
}

.bananaForm div {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 30px;
	gap: 15px;
}

#bananaButton {
	background-color: #F1AE2B;
	border: none;
	color: white;
	font-weight: bold;
	cursor: pointer;
}